{% extends 'base.html' %}

{% block title %}Code Review List App{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Code Review List</h1>

    <!-- Form for adding new tasks -->
    <form action="" method="POST" class="d-flex mb-4 gap-2">
        <input type="text" name="task" class="form-control" placeholder="Wpisz nowe zadanie" required>
        <select name="priority" class="form-control" required>
          <option value="low">Niski</option>
          <option value="medium">Średni</option>
          <option value="high">Wysoki</option>
        </select>
        <button type="submit" class="btn btn-success flex-shrink-0 px-3"><i class="bi bi-plus-circle"></i> Dodaj</button>
    </form>


    {% if tasks %}
        <h5 class="mb-3">Lista:</h5>
        <!-- List of tasks -->
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ task.name }}</span>

                    <span class="badge
                      {% if task.priority == 'low' %} bg-success
                      {% elif task.priority == 'medium' %} bg-warning
                      {% else %} bg-danger
                      {% endif %}">

                        {% if task.priority == 'low' %}
                            Niski
                        {% elif task.priority == 'medium' %}
                             Średni
                        {% else %}
                                Wysoki
                         {% endif %}
                    </span>


                    <div class="d-flex gap-2">
                        <!-- Delete button -->
                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="bi bi-x-circle"></i> Usuń
                            </button>
                        </form>
                        <!-- Edit button -->
                        <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i> Edytuj
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
   {% else %}
        <!-- Placeholder if 0 tasks -->
        <p class="text-muted text-center mt-3">Brak aktualnie zadań. Dodaj coś.</p>
    {% endif %}
{% endblock %}
